body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #000000;
}

.film-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 0 100px;
}

.film {
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.film img {
  width: 100%;
  display: block;
  height: 400px;
}

.button {
  margin: 10px auto 20px auto;
  width: fit-content;
  padding: 8px 16px;
  background-color: #6E4F7D;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px 20px 40px;
}

.button:hover {
  background-color: #54367a;
}

#films {
  margin-top: 10%;
}

.film h2 {
  font-size: 18px;
  margin: 10px 20px 5px;
  color: #666666;
}

.film p {
  font-size: 14px;
  color: #555;
  margin: 10px 20px 5px;
}

#head {
  width: 780px;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 0 20px;
}

#head h2 {
  color: #6e4f7d;
  margin: 0;
  font-size: 50px;
}

#title {
  padding: 2%;
  background-color: #ffffff;
  width: 50%;
}

#filters {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

#filters .input {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-box {
  background: #fff;
  padding: 12px 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  color: #765984;
  font-weight: bold;
}

.filter-box span {
  cursor: default; 
}

#films,
.film-container {
  margin: 0 100px;
}


.arrow-icon {
  margin-left: 5px;
  width: 15px;  
  height: 15px;
}


.fa-sliders {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 50px; 
    line-height: 50px; 
    text-align: center;
}

.star-rating {
  position: relative;
  display: inline-block;
  color: #ccc; 
  font-size: 20px;
}

.star-rating .filled {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #6e4f7d; 
}

.film .rating {
  margin: 10px 10px 0px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
}

.dropdown-menu label {
  display: block;
  font-size: 14px;
  color: #333;
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu label:hover {
  background: #f0f0f0;
}













