body{
margin: 0;

}
.footer-main {
    background-color: #000;
    width: 100%;
    font-family: Arial, sans-serif;
      height: 430px;
}


.footer-top {
    display: flex;
    justify-content: flex-start; 
    background-color: #666;
    color: #fff;
    padding: 50px 100px; 
    gap: 70px; 
}

.footer-top-left {
    width: 280px; 
}



.footer-logo-kleur{
width: 200px;

  filter: brightness(0) invert(1);
}




.footer-description {
    margin: 20px 0;
    line-height: 1.5;
    width: 310px;
}


.footer-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.footer-top-mid {
margin-top: 55px;
margin-left: 70px;
width: 160px;
}

.footer-title {
    font-size: 24px; 
    margin-bottom: 15px;
   
    font-weight: 600;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-top-right {
    margin-top: 50px;
    margin-right: 250px;
width: 140px;
}

.social-icons {
    display: flex;
    gap: 15px;
    
    width: 28px;
    height: 28px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.footer-down {
    background-color: #000;
   margin-left: 80px;
    padding: 15px;
    color: #fff;
    font-size: 14px;
}
.footer-stairs {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-stair-pic {
    height: 100%; /* of bijvoorbeeld 430px als je vaste hoogte wil */
    opacity: 0.7; /* maakt het wat subtieler */
    margin-bottom: 325px;
}